@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of
  * content. Table of content is use display the overall tree structure of your
  * Layout.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following color code and add your own as this is just and
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following typography and add your own as this is just and
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup {
  top: -0.7em;
}

sub {
  bottom: -0.25em;
}

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: "Futura Bold", "Gill Sans", Arial, "Helvetica Neue", Helvetica,
    sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* css starts here */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  display: inline-block;
  list-style-type: none;
}

.wrapper {
  max-width: 1350px;
  width: 90%;
  margin: 0 auto;
  /* border:1px solid red; */
}

header {
  padding: 18px 0;
  height: 73px;
  background-image: linear-gradient(
      to right,
      rgb(79, 77, 142, 0.9),
      rgb(25, 99, 128, 11)
    ),
    url("../images/watch1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header .wrapper {
  position: relative;
}

h1 {
  width: 16%;
  margin: 0px auto 0 43%;
  font-size: 25px;
  font-weight: 500;
  font-family: sans-serif;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 a {
  display: inline-block;
  font-weight: 900;
  color: #fff;
}

.menu-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-between;
  position: absolute;
  color: #000;
}

header > .wrapper {
  padding: 10px 0 0 0;
}

.list-one {
  padding: 0;
  left: 0;
}

.list-one li {
  margin: 0 19% 0 0;
}
.list-one li:last-child {
  margin-right: 0;
}
.list-one li a {
  text-transform: uppercase;
}
.list-two {
  right: 0;
}
.list-two li {
  margin: 0 50px 0 0;
}
.list-two li a {
  text-transform: uppercase;
}
.list-two li:last-child {
  margin-right: 0;
}

.menu-data a {
  font-size: 16px;
  color: #e5e8f5;
  font-weight: 500;
  font-family: sans-serif;
  -webkit-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

/* Header ends here */

/* Hamburger starts here */

.hamburger {
  width: 35px;
  border: none;
  outline: none;
  display: block;
  display: none;
  position: relative;
  background: none;
  appearance: none;
  cursor: pointer;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: "";
  width: 100%;
  height: 5px;
  margin: 6px 0;
  display: block;
  background: #fff;
  transition: 0.4s;
}

.hamburger.active::before {
  transform: rotate(-45deg) translate(-8px, 6px);
}
.hamburger.active::after {
  transform: rotate(45deg) translate(-9px, -8px);
}
.hamburger.active .bar {
  opacity: 0;
}

/* Hamburger ends here */

/* banner starts here */
.banner {
  padding: 170px 0;
  position: relative;
  background-image: linear-gradient(
      rgb(54, 77, 127, 0.7),
      rgb(54, 77, 127, 0.8)
    ),
    url("../images/watch1.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

#arrow-left::before {
  content: "";
  color: #fff;
  display: block;
  font: 900 15px "Font Awesome 5 free";
}

#arrow-left::before {
  content: "\f104";
  width: 3.5%;
  padding: 19px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -3.3%;
  background: #fff;
  color: #63a3d1;
  font-size: 40px;
  line-height: 45px;
  text-align: right;
  transform: translateY(-50%);
  cursor: pointer;
}

#arrow-right::before {
  content: "";
  display: block;
  color: #fff;
  font: 600 15px "Font Awesome 5 free";
}

#arrow-right::before {
  content: "\f105";
  width: 3.5%;
  padding: 19px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: -3.3%;
  background: #fff;
  color: #63a3d1;
  font-size: 40px;
  line-height: 45px;
  text-align: left;
  transform: translateY(-50%);
  cursor: pointer;
}

.slider_content {
  height: 100%;
  display: flex;
  justify-content: center;
}

.slider_content .content_1 {
  flex-basis: 25.8%;
}
.slider_content .content_2 {
  flex-basis: 35%;
  padding: 4% 2% 2% 2%;
}
.slider_content .content_1 img {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  box-shadow: 0 0 0 4px transparent;
}

.slider_content .content_2 {
  border-radius: 0 10px 10px 0;
  background: #fff;
  text-align: center;
  box-shadow: 0 0 0 4px transparent;
}

.content_2 h2 {
  margin-bottom: 6.8%;
  font-size: 20px;
  font-weight: 600;
  font-family: sans-serif;
  color: #010101;
}

.content_2 h2::first-letter {
  text-transform: uppercase;
}

.content_2 p {
  margin-bottom: 5%;
  color: #808080;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  font-family: sans-serif;
}

.content_2 a {
  padding: 15px;
  border: 1px solid #318aaa;
  display: inline-block;
  color: #318aaa;
  font-size: 14px;
  font-family: sans-serif;
  -webkit-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.read::after {
  content: "";
  padding-left: 8px;
  font: 800 15px "Font Awesome 5 free";
}

.read::after {
  content: "\f30b";
}

/* banner ends here */

/* latest posts starts here */
.our-team {
  padding-top: 5%;
  background: #f6f6f6;
}
.our-team > .wrapper h2 {
  margin-bottom: 5%;
  position: relative;
  font-weight: 500;
  line-height: 5px;
  text-align: center;
  text-transform: uppercase;
}

.our-team > .wrapper h2::before {
  content: "";
  width: 43%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #111;
}

.our-team > .wrapper h2::after {
  content: "";
  width: 43%;
  height: 1px;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: #111;
}

.team-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team-members li {
  height: 100%;
  flex-basis: 22.35%;
  box-shadow: 4px 5px 16px grey;
}

.team-members > li {
  margin-bottom: 5%;
  min-height: 450px;
  border-radius: 15px;
}

.team-members > li:nth-child(2) {
  min-height: 100%;
}
.team-members > li:nth-child(6) {
  margin-top: -40px;
}
.team-members > li:nth-child(7) {
  margin-top: -20px;
}
.team-members > li:nth-child(8) {
  margin-top: -45px;
}

img {
  margin-bottom: 7%;
  width: 100%;
  border: 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  vertical-align: middle;
}

li h4 {
  padding: 12px;
  margin-bottom: 3%;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 500;
  text-align: center;
}

li p {
  padding: 0 10px;
  margin-bottom: 15%;
  font-size: 15px;
  font-family: sans-serif;
  text-align-last: center;
  text-align: justify;
}

.socail__posts {
  border-top: 1px solid #ddd;
  display: flex;
  text-align: center;
  justify-content: space-around;
}

.socail__posts li {
  padding: 0;
  margin: 0;
  border-right: 1px solid #ddd;
  box-shadow: none;
  flex-basis: 50%;
  text-align: center;
}

.socail__posts li:nth-child(3) {
  border-right: none;
}

.post {
  display: inline-block;
  text-indent: -9999px;
}

.post::before {
  content: "\f164";
  padding: 7px;
  color: #ddd;
  font: 900 30px "Font Awesome 5 Free";
  float: right;
  text-indent: 0;
}

.message::before {
  content: "\f075";
}
.next::before {
  content: "\f30b";
}

/* latest posts ends here */

/* services starts here */
.services h2 {
  margin-bottom: 3%;
  color: #fff;
  font-weight: 500;
  font-family: sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.services {
  padding: 50px 0;
  background-image: linear-gradient(
      rgb(54, 77, 127, 0.7),
      rgb(54, 77, 127, 0.8)
    ),
    url("../images/headphone2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services .service_container {
  display: flex;
  justify-content: space-between;
}

.sin {
  flex-basis: 30%;
}

.sin {
  position: relative;
  overflow: hidden;
}

.sin .title {
  margin: 0;
  position: absolute;
}

.sin .title {
  bottom: 25px;
  right: 25px;
  transition: 0.9s;
  text-transform: uppercase;
  color: #fff;
  font-family: sans-serif;
  font-weight: 500;
}

.sin img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  box-shadow: 0 0 0 4px transparent;
}

.sin .image-text {
  width: 100%;
  height: 100%;
  padding: 20% 0 0;
  border-radius: 15px;
  background-image: linear-gradient(
    to bottom,
    rgb(79, 77, 142, 0.9),
    rgb(25, 99, 128, 11)
  );
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: perspective(400px) rotateX(-90deg);
  transform-origin: center top 0;
  transition: 0.5s;
  text-align: center;
}

.sin figure {
  width: 100%;
  height: 100%;
}
/* services ends here */

/* Articles starts here */
/* posts section */
.article > .wrapper {
  display: flex;
  justify-content: space-between;
}
.popular_articles {
  flex-basis: 30%;
}
.articles {
  flex-basis: 30%;
}
.commented_posts {
  flex-basis: 30%;
}

.article {
  padding: 35px;
  background: #f6f6f6;
}

.article h2 {
  margin-bottom: 5%;
  color: #030303;
  font-size: 18px;
  font-weight: 500;
  font-family: sans-serif;
  text-transform: uppercase;
}

.article h2::after {
  content: "";
  width: 100%;
  height: 1px;
  margin-top: 2%;
  display: block;
  background: #dcdde1;
}

.article span {
  margin-bottom: 8%;
  display: inline-block;
  color: #7f8fa6;
}

.article p {
  margin-bottom: 2%;
  font-weight: 500;
  font-family: sans-serif;
  color: #000;
}

/* Articles ends here */

/* Subscribe starts here */
.subscribe {
  background-image: linear-gradient(to right, #555092, #2a6f90);
}

.subscribe h2 {
  width: 100%;
  padding-top: 35px;
  padding-left: 35%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: sans-serif;
  text-transform: uppercase;
}

.subscribe form {
  padding: 45px;
  display: flex;
  justify-content: center;
}

.subscribe form input[type="text"] {
  width: 594px;
  height: 46px;
  padding: 15px;
  border: 1px solid #fff;
  border-radius: 10px;
  outline: none;
}

.submit {
  width: 153px;
  margin-left: 1%;
  border: none;
  border-radius: 10px;
  outline: none;
  background-color: #318aaa;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  -webkit-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

::placeholder {
  font-style: italic;
  text-transform: uppercase;
}

form span {
  padding: 2px 5px;
  display: block;
  color: #f00;
  text-transform: capitalize;
}

form .invalid-error,
.valid .invalid-error,
form .empty-error {
  display: none;
}
.invalid .invalid-error,
.empty-error.visible {
  display: inline-block;
  background: rgba(0, 0, 0, 0.2);
  padding: 15px;
}
form.error small {
  visibility: visible;
}
form small {
  visibility: hidden;
}
/* Subscribe ends here */

/* footer starts here */
footer {
  padding: 50px 0;
  background-image: linear-gradient(
      rgb(54, 77, 127, 0.7),
      rgb(54, 77, 127, 0.8)
    ),
    url("../images/watch1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-top > .wrapper {
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
}

.footer-top .wrapper h2 {
  margin-bottom: 8%;
}
.footer-top > .wrapper .journal {
  flex-basis: 30%;
}
.footer-top > .wrapper .recent_posts {
  flex-basis: 30%;
}
.footer-top > .wrapper .instagram {
  flex-basis: 30%;
}

.journal h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
  font-family: serif;
}

.journal p {
  margin-bottom: 2%;
}
.journal p,
a {
  color: #dcdde1;
}

.journal .call_info .address {
  width: 65%;
  margin-bottom: 5%;
  text-transform: capitalize;
}

.address {
  margin: 7% 0;
}

.phone {
  width: 100%;
  margin: 5% 0;
  display: inline-block;
}

.mail {
  width: 100%;
  margin: 5% 0;
  display: inline-block;
}
.address::before {
  content: "\f1d8";
  margin: 0 5% 4% 0;
  display: inline-block;
  font: 900 15px "Font Awesome 5 Free";
}

.phone::before {
  content: "\f879";
  margin-right: 5%;
  font: 900 15px "Font Awesome 5 Free";
  cursor: pointer;
}

.mail::before {
  content: "\f0e0";
  margin-right: 5%;
  font: 900 15px "Font Awesome 5 Free";
  cursor: pointer;
}

.social {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
}

.social li {
  display: inline-block;
}
.social li:last-child {
  margin-right: 0px;
}

.social a {
  display: inline-block;
  text-indent: -9999px;
}

.social a::before {
  content: "";
  padding-right: 10px;
  margin-right: 3px;
  display: block;
  font: 900 15px "Font Awesome 5 Brands";
  float: right;
  text-indent: 0;
  -webkit-transition: color 0.5s ease-in-out;
  -o-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}

.facebook a::before {
  content: "\f39e";
}
.twitter a::before {
  content: "\f099";
}
.google-plus a::before {
  content: "\f0d5";
}
.pinterest a::before {
  content: "\f231";
}
.youtube a::before {
  content: "\f167";
}
.linkedin a::before {
  content: "\f0e1";
}
.call_info {
  display: inline-block;
}

/* FOOTER RECENT POSTS HEADING */
.recent_posts h2 {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  font-family: serif;
  text-transform: uppercase;
}

.footer-top .recent_posts h2 {
  margin-bottom: 2%;
  font-family: sans-serif;
}

.footer-top .recent_posts h2::after {
  content: "";
  width: 100%;
  height: 1px;
  margin-top: 2%;
  margin-bottom: 7%;
  display: block;
  background: #dcdde1;
}

.recent_posts p {
  margin-bottom: 2%;
  color: #fff;
  font-size: 17px;
  font-family: sans-serif;
  width: 80%;
}

.recent_posts span {
  margin-bottom: 7%;
  display: inline-block;
  color: #dcdde1;
}
/* FOOTER INSTAGRAM HEADING */
.instagram h2 {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  font-family: serif;
  text-transform: uppercase;
}

.footer-top .instagram h2 {
  margin-bottom: 2%;
  font-family: sans-serif;
}

.footer-top .instagram h2::after {
  content: "";
  width: 100%;
  height: 1px;
  margin-top: 2%;
  margin-bottom: 7%;
  display: block;
  background: #dcdde1;
}

.footer-top > .wrapper .ft_gallery {
  width: 85%;
  display: inline-block;
}

.ft__gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.ft__gallery .image {
  width: calc(100% / 3);
  padding: 4px;
}

.ft__gallery .image img {
  width: 100%;
  height: 100px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  filter: brightness(45%);
  cursor: pointer;
}

.footer-bottom > .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.footer-bottom > .wrapper > span {
  flex-basis: 80%;
}
.footer-bottom > .wrapper div {
  flex-basis: 16%;
}
.footer-bottom > .wrapper > span {
  color: #808080;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.footer-bottom > .wrapper div {
  color: #fff;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: capitalize;
}

/* footer ends here */

/* MEDIA QUERIES STARTS HERE */

/* MEDIA QUERIES FOR HOVER STARTS HERE */
@media (min-width: 992px) {
  .menu-data a:hover {
    color: #318aaa;
    transition: color 0.5s ease-in-out;
  }

  .content_2 a:hover {
    background-image: linear-gradient(
      to right,
      rgb(79, 77, 142, 0.9),
      rgb(25, 99, 128, 11)
    );
    color: #fff;
    -webkit-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
  }

  .post:hover::before {
    color: #0097e6;
    -webkit-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
  }

  .sin:hover .image-text {
    opacity: 1;
    transform: perspective(400px) rotateX(0);
  }

  button:hover {
    border: 1px solid #318aaa;
    background: transparent;
    transition: color 0.5s ease-in-out;
  }

  .address:hover::before {
    color: #555092;
    -webkit-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
    cursor: pointer;
  }

  .mail:hover::before {
    color: #555092;
    -webkit-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
    cursor: pointer;
  }

  .phone:hover::before {
    color: #555092;
    -webkit-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
    cursor: pointer;
  }

  .social a:hover::before {
    color: #555092;
    -webkit-transition: color 0.5s ease-in-out;
    -o-transition: color 0.5s ease-in-out;
    transition: color 0.5s ease-in-out;
  }
  .ft__gallery .image img:hover {
    filter: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: filter 0.3s ease;
  }
}
/* MEDIA QUERIES FOR HOVER ENDS HERE */
@media (max-width: 1201px) {
  .list-one li {
    margin: 0 12% 0;
  }
  .list-one li a {
    font-size: 12px;
  }
  .list-two li {
    margin: 0 60% 0 -50%;
  }
  .list-two li a {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  nav .menu-data {
    display: none;
  }
  header .wrapper {
    width: 100%;
    margin: 0;
  }

  .hamburger {
    display: block;
    position: absolute;
    top: 12px;
    right: 5%;
  }

  nav .list-one {
    width: 100%;
    height: 100vh;
    padding-top: 115px;
    display: block;
    position: absolute;
    z-index: 1;
    top: 53px;
    left: 100%;
    background: #111;
    transition: all 0.3s ease;
  }

  nav .list-one.isactive {
    left: 0px;
  }

  nav .list-one li {
    display: block;
    text-align: center;
  }

  nav .list-one li:last-child {
    margin: 0;
  }

  nav .list-one li a {
    padding: 10%;
    font-size: 16px;
  }

  h1 {
    margin: 0 5%;
  }

  .footer-bottom > .wrapper > span {
    flex-basis: 80%;
  }
  .footer-bottom > .wrapper div {
    flex-basis: 39%;
  }
  .team-members {
    display: block;
    width: 100%;
  }
  .team-members > li:nth-child(6) {
    margin-top: 3%;
  }
  .team-members > li:nth-child(7) {
    margin-top: 3%;
  }
  .team-members > li:nth-child(8) {
    margin-top: 3%;
  }

  .our-team > .wrapper h2::before {
    width: 40%;
  }
  .our-team > .wrapper h2::after {
    width: 40%;
  }

  .slider_content {
    width: 100%;
    height: 100%;
    padding: 0 50px;
  }

  .slider_content .content_1 {
    flex-basis: 50%;
  }
  .slider_content .content_2 {
    flex-basis: 50%;
  }

  .services .service_container {
    display: block;
    width: 100%;
  }

  .sin .title {
    bottom: 15%;
    right: 5%;
  }

  .sin img {
    width: 100%;
  }

  .article > .wrapper {
    width: 100%;
    display: block;
  }

  .subscribe h2 {
    padding: 20px 0 0 0;
    text-align: center;
  }

  .subscribe form input[type="text"] {
    width: 100%;
    display: block;
  }

  .footer-top > .wrapper {
    display: block;
  }
  .footer-top > .wrapper .recent_posts {
    margin-top: 5%;
  }
  .footer-top > .wrapper .ft_gallery {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .footer-bottom > .wrapper > span {
    flex-basis: 85%;
  }
  .footer-bottom > .wrapper div {
    flex-basis: 70%;
  }
  .our-team > .wrapper h2::before {
    width: 35%;
  }
  .our-team > .wrapper h2::after {
    width: 35%;
  }
}

@media (max-width: 560px) {
  .our-team > .wrapper h2::before {
    width: 27%;
  }
  .our-team > .wrapper h2::after {
    width: 27%;
  }
  .slider_content {
    flex-direction: column;
  }
}

@media (max-width: 320px) {
  .our-team > .wrapper h2::before {
    width: 20%;
  }
  .our-team > .wrapper h2::after {
    width: 20%;
  }
}

/* css ends here */
